*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*  regole header */

header{
    height: 100px;
    background-color: white;
    color:orange;
}

/* regole contenuto */

body{
    background-color: lightgray;
}

h1{
    font-family: "Nerko One", cursive;
    font-weight: 200 px;
}

h4{
    color: darkgrey;
}

h2{
    color: blueviolet;
}

.container{
    width:80%;
    margin: 30px auto;
    
    background-color: blue;
    height:400px;
}

.row{

}

.col{

    /*DEBUG*/
    height:150px;
    background-color: aquamarine;
    border: solid 2px black;
    }


/* regole footer */

footer{
    background-color: blueviolet;
    /*DEBUG*/
    height:150px;

}


/* tablet  */
@media screen and (min-width: 768px){

}





/* desktop */

@media screen and (min-width: 992px){
    /* regole generali */
    .row{
        display: flex;
        justify-content: space-between;
    }


    /* regole contenuto */

    #contenuto .col-video{

        width:80%;

    }

    #contenuto .col-info{
        width:20%;


    }


    /* regole footer */
    footer .col{
        width: 50%;
    
    
    }

}
