*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/*  regole header */

header{
    height: 100px;
    background-color: white;
    color:orange;
}

/* regole contenuto */

body{
    background-color: lightgray;
}

h1{
    font-family: "Nerko One", cursive;
    font-weight: 200 px;
}

.container{
    width:80%;
    margin: 30px auto;
    
    background-color: blue;
    height:400px;
}

/* regole footer */

footer{
    background-color: blueviolet;
    /*DEBUG*/
    height:150px;

}